<!doctype html>
<html lang="en" ng-app="sms">
<head>
	<meta charset="utf-8">
	<title>sms</title>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-route.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/services.js"></script>
	<script src="js/directives.js"></script>
</head>

<body>

<div class="container">
  <h2>sMs</h2>
  <ul class="nav nav-pills nav-justified">
  	 <li><a href="#/profiles">Student Profiles</a></li>
    <li><a href="#/new">New Student</a></li>
  </ul>
  <br /> <br />
</div>
<ng-view></ng-view>

</body>
</html>